.about-content{
    position: relative;
}

.div{
    height: 250px;
    background-color: rgb(83, 155, 183);
}

.about-heading{
    position: absolute;
    top: 70px;
    right: 46%;
    left: 46%;
}

.about-img{
    height: 250px;
    width: 450px;
}

.img-p-container{
    position: absolute;
    top: 130px;
    right: 35%;
    left: 35%;
}

.about-para{
    text-align: justify;
}

.greeting-para{
    margin-top: 420px;
    background-color: rgb(83, 155, 183);
    padding: 20px 40px;
    color: white;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .div{
        height: 200px !important;
    }
    .about-heading{
        right: 10% !important;
        left: 40% !important;
    }
    .about-img{
        height: 150px;
        width: 250px;
        margin-top: -10px;
    }
    .img-p-container{
        right: 22%;
        left: 22%;
    }
    .about-para{
        font-size: 12px !important;
        margin-top: -5px;
    }
    .greeting-para{
        margin-top: 380px;
        padding: 10px 20px;
    }
    .gree-p{
        font-size: 15px !important;
    }
}