.btn:hover {
    background-color: rgb(45, 101, 123) !important;
    color: #fff !important;
}

.home-front-view {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.home-container{
    width: 350px;
    height: 420px;
    margin-top: 130px;
    margin-bottom: 90px;
    position: relative;
}
.home-img1{
    width: 160px;
    position: absolute;
    top: -30px;
    left: 25px;
}
.home-img2{
    width: 180px;
    position: absolute;
    right: -25px;
    top: 20%;
}
.home-img3{
    width: 160px;
    position: absolute;
    bottom: -40px;
    left: 25px;
}

.wlc-msg {
    margin-top: 150px;
}

.feature-container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.features {
    width: 400px;
    height: 130px;
    border: 2px solid black;
    position: relative;
    margin: 15px;
    padding: 10px;
}

.feature-icon {
    width: 55px;
    height: 40px;
    position: absolute;
    top: -30px;
    left: 42%;
    background-color: rgb(83, 155, 183);
    padding: 2px 5px;
    margin: 10px;
    border: 2px solid #fff;
}

.feature-title {
    margin-top: 25px
}
.trend-cards{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.popular-cards{
    margin: 0px 20px;
    padding: 7px;
}
.card-img{
    height: 300px;
    width: 210px;
}

.card-img:hover{
    height: 303px;
    width: 213px;
    border: 1px solid rgb(116, 196, 227) !important;
    transition: 0.5s;
    background-color: rgb(45, 101, 123)  !important;
}

@media screen and (max-width: 600px) {
    .popular-title{
        margin-top: 40px !important;
        margin-left: 50px !important;
        font-size: 15px;
    }
    .card-img{
        width: 140px;
        height: 220px;
    }
    .trend-cards{
        padding: 5px !important;
    }
    .popular-cards{
        margin: 2px 5px;
    }
    .card-img:hover{
        width: 143px;
        height: 222px;
    }
}

@media screen and (min-width: 601px) and (max-width: 992px){
    .popular-title{
        font-size: 15px;
    }
    .card-img{
        width: 205px;
        height: 295px ;
    }
    .popular-cards{
        margin: 2px 5px;
    }
    .card-img:hover{
        width: 207px;
        height: 297px;
    }
}





@media screen and (max-width: 600px) {
    .wlc-msg {
        margin-top: 70px;
        padding: 0;
    }

    .home-container{
        width: 180px;
        height: 250px;
        left: 280px;
        top: 60px;
    }
    .home-img1{
        width: 100px;
        top: -20px;
        left: 10px;
    }
    .home-img2{
        width: 100px;
        right: -35px;
        top: 20%;
    }
    .home-img3{
        width: 100px;
        left: 10px;
    }

    .greeting-msg{
        font-size: 20px !important;
        text-align: center;
    }

    .about-quickcart{
        font-size: 20px !important;
        margin-top: 290px;
        margin-bottom: 40px;
        text-align: center;
    }

    .wlc-description {
        font-size: 15px !important;
        margin-top: -40px;
    }

    .home-front-view{
        width: 660px;
        margin-left: -270px;
    }

    .popular-heading {
        font-size: 18px;
        margin-top: 20px !important;
    }

    .offer-heading {
        font-size: 18px;
        margin-top: 20px !important;
    }
    .feature-icon {
        left: 38%;
    }
    
    .feature-title {
        margin-top: 15px
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .wlc-msg {
        margin-top: 80px;
        padding: 0;
    }

    .home-container{
        width: 230px;
        height: 290px;
        top: 20px;
    }

    .home-img1{
        width: 110px;
        top: -15px;
        left: 10px;
    }
    .home-img2{
        width: 115px;
        right: -10px;
        top: 20%;
    }
    .home-img3{
        width: 110px;
        left: 10px;
    }

    .greeting-msg{
        font-size: 18px !important;
    }

    .about-quickcart{
        font-size: 15px !important;
    }

    .wlc-description {
        font-size: 13px !important;
       
    }

    .popular-heading {
        font-size: 18px;
        margin-top: 20px !important;
    }

    .offer-heading {
        font-size: 18px;
        margin-top: 20px !important;
    }
    .feature-icon {
        left: 38%;
    }
    
    .feature-title {
        margin-top: 15px
    }
}