


.shop-logo{
    width: 50px;
    margin: 0px 50px;
    padding: 5px;
}

.nav-item:hover{
    background-color: rgb(45, 101, 123) !important;
    color: #fff !important;
}

.home-logout{
    position: fixed;
    top: 12px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.cart-icon{
    position: fixed;
    top: 10px;
    right: 80px;
    cursor: pointer;
    width: 30px;
}
.nav-cart-count{
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    position: fixed;
    top: 10px;
    right: 75px;
    font-size: 10px;
}

@media screen and (max-width: 600px){
    .shop-logo{
        width: 40px;
        margin: 0 20px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .nav-item{
        margin: 2px 10px !important;
        padding: 1px 5px !important;
        font-size: 13px;
    }

}
@media screen and (min-width: 769px) and (max-width: 992px){
    .shop-logo{
        width: 40px;
        margin: 0 20px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .nav-item{
        margin: 5px 10=2px !important;
        padding: 3px 8px !important;
        font-size: 15px;
    }

}
