


.shop-logo{
    width: 45px;
    margin-left: 40px;
    margin-right: 10px;
    padding: 5px 0;
}

.nav-item{
    font-size: 17px;
}

.nav-item:hover{
    background-color: rgb(45, 101, 123) !important;
    color: #fff !important;
}

.home-logout{
    position: fixed;
    top: 12px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px){
    .shop-logo{
        width: 40px;
        margin: 0 5px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: start;

    }
    .nav-item{
        margin: 2px 2px !important;
        padding: 1px 3px !important;
        font-size: 10px;
    }
    .home-logout{
        font-size: 8px !important;
        right: 2px;
    }

}
@media screen and (min-width: 769px) and (max-width: 992px){
    .shop-logo{
        width: 40px;
        margin: 0 20px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: start;

    }
    .nav-item{
        margin: 5px 10=2px !important;
        padding: 3px 8px !important;
        font-size: 15px;
    }

}
