


.shop-logo{
    width: 50px;
    margin: 0px 50px;
    padding: 5px;
}

.nav-item:hover{
    background-color: rgb(45, 101, 123) !important;
    color: #fff !important;
}

.home-logout{
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    text-decoration: none;
    color: #000;
}

@media screen and (max-width: 600px){
    .shop-logo{
        width: 40px;
        margin: 0 20px;
    }
    .navbar{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    .nav-item{
        margin: 5px 10px;
        padding: 2px 5px;
    }
}
